# Environment / secrets
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/
build/
dist/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
npm-debug.log*

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & DBs
*.log
*.sqlite
*.db
